<!DOCTYPE html>
<head>
	<title>Coursia - The Concordia Course Registration Helper</title>
	<meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script type="text/javascript" src="scripts.js"></script>
</head>
<body>
    <h1>Coursia</h1>
    <form action="/" method="post">
        <input type="submit" value="Test button">
    </form>
    <p>Enter the course code in the box below to view its current status.</p>
    <div id="coursesearch">
        <p>FORM GOES HERE</p>
    </div>
    
    <div id="searchresults">
        <p>RESULTS GO HERE</p>
    </div>
    
</body>
</html>